.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      a.brand App

.container
  h4
    | Welcome to fresh new Spine.js app, Jade and Bootstrap
  .row-fluid
    .span
      a(href='http://brunch.io/')
        img(src='http://brunch.io/images/brunch.png', alt='Brunch')

